force-app/main/default/flows/Salesrep_Secondary_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Order</name>
        <label>Open Order</label>
        <locationX>1066</locationX>
        <locationY>426</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>881</locationX>
        <locationY>361</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Open_Order</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>AccountName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retailer Name</stringValue>
        </value>
    </constants>
    <interviewLabel>Salesrep Secondary Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesrep Secondary Order</label>
    <loops>
        <name>Item</name>
        <label>Item</label>
        <locationX>801</locationX>
        <locationY>204</locationY>
        <collectionReference>CartItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>984</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Cart_Item.PriceBookEntryID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Cart_Item.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Cart_Item.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Cart_Item.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>221</locationX>
        <locationY>206</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>RetailerPricebookRecordtypeId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_OrderPartnerRecordTypeId.ORecordTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>CartItems</name>
        <label>CartItems</label>
        <locationX>706</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Item</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderPartnerRecordTypeId</name>
        <label>Get OrderPartnerRecordTypeId</label>
        <locationX>97</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PartnerRetailerOrderRT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RetailerPricebookRecordtypeId</name>
        <label>RetailerPricebookRecordtypeId</label>
        <locationX>363</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePriceBook</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RetailerPBRT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1032</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePriceBook</name>
        <label>UpdatePriceBook</label>
        <locationX>476</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Show_Products</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>RetailerPricebookRecordtypeId.PBRecordTypeId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Show_Products</name>
        <label>Show Products</label>
        <locationX>607</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CartItems</targetReference>
        </connector>
        <fields>
            <name>ShowProducts</name>
            <extensionName>c:ShowProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_OrderPartnerRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Cart_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cart__c</objectType>
    </variables>
    <variables>
        <name>ListItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
